	@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}


	body {
		background-image: url(/static/background7.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		max-width: 100%;
		height: 100%;
		scroll-behavior: smooth;
		overflow-x: hidden;

	}

	html {
		overflow-x:hidden;
	}

	h1 {
		font-family: Source Sans Pro;
		font-size: 3rem;
		color: white;
	}


	@keyframes fadein {


		0% { opacity:0; }
		66% { opacity:0; }
		100% { opacity:1; }

	}

	#container {
		min-height: 100%;

	}

	#main {
		padding-bottom: 110px;
		overflow: auto;
		margin: 0 auto;
	}



	.logo {
		margin: 0px auto 0px 30px;
		
		opacity: 0;
		animation-delay: 1s;
		animation-name: fadein;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		shape-rendering: crispEdges;

	}

	.navbar h1 {
		font-family: Source Sans Pro;
		color: white;
		font-size: 2rem;

		


	}


	.header-subtext {
		color: white;
		font-family: Montserrat;
		font-size: 12px;
		text-align: left;
		position: relative;
		bottom: 5px;
		left: 100px;
		width:120px;

		opacity: 0;
		animation-delay: 1s;
		animation-name: fadein;
		animation-duration: 2s;
		animation-fill-mode: forwards;

	}

	header {
		/*background-color: #292929;*/
		position: relative;
		top: 0;
		z-index: 9999;
		width: 100%;

		opacity: 0;
		animation-delay: 1s;
		animation-name: fadein;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		
	}

	.navbar {

		text-align: right;
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 10vh;
		background-color;
		
	}

	.nav-links {
		margin: 0;
		padding: 0;
		display: flex;
		/*	justify-content: space-around;*/
		/*width: 30%;	*/
	}

	.nav-links li {
		list-style: none;
		margin: 0 30px;
		
	}

	.nav-links li a {
		font-family: Source Sans Pro;
		font-weight: 200px;
		color: white;
		text-decoration: none;
		font-size: 1rem;
		display: block;
		margin: 10px 0;
		padding: 10px 20px;

	}

	.nav-links li a:hover {
		color: #DFDFDF;
		background-color;
		transition: ease 0.2s;

	}


	.burger {
		margin-right: 30px;
		display: none;
	}

	.burger div{
		background-color: white;
		width: 25px;
		height: 3px;
		margin: 5px;
		border-radius: 2px;
		transition: all 0.3s ease;

	}

	#middle {
		height: 450px;
		line-height: 450px;
		text-align: center;
		position:relative;
		top: 40px;

	}

	#middle_text {
		line-height: 1.0;
		display: inline-block;
		width: 60%;

		opacity: 0;
		animation-name: fadein;
		animation-delay: 0s;
		animation-duration: 2s;
		animation-fill-mode: forwards;

	}

	#middle_text h1 {
		text-align: left
	}


	#middle_text p {
		font-family: Source Sans Pro;
		text-align: left;
		font-size: 1rem;
		font-weight: 400px;
		color: white;
		line-height: 1.5rem;


	}

	#middle_text a {
		color: white;
		text-decoration: none;
	}

	#middle_text a:hover {
		text-decoration: underline;
	}



	footer {
		/*height: 20%;*/
		/*margin: 0 auto;*/
		height: 110px;
		width: 100%;
		margin-top: -110px;
		clear: both;	
		background-color: #1f1f1f;
		text-decoration: none;
		text-align: center;

	}



	footer ul {
		display: inline-flex;
		position: relative;
		top: 30px;
		text-decoration: none;
		
	}

	footer img {
		width: 60px;
		height: auto;
		position: relative;
		bottom: 18px;
		text-decoration: : none;
	}

	footer ul li {
		text-decoration: none;
		list-style: none;
		text-align: right;
		position: relative;

		
	}

	footer a {
		font-size: 12px;
		margin: 0px 30px;
		text-align: right;
		color: white;
		font-family: Montserrat;
		text-decoration: none;
		position;

	}

	footer a:hover {
		text-decoration: underline;
	}


	.final-footer {
		width: 1200px;
		text-align: right;
		margin: 0 auto;
		position: relative;
		top: 16px;
	}

	footer p {
		font-family: Montserrat;
		color: white;
		font-size: 0.7rem;
		/*padding-bottom: 2rem;*/
		/*padding-top: 1rem;*/
		border-top: 1px solid white;
	}

	@media screen and (max-width: 1159px) {


		/*HAMBURGER!!!!!!!!!*/
		.nav-links {
			position: absolute;
			right: 0px;
			height: 260px;
			top: 63px;
			background-color: #292929;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			transform: translateY(-150%);
			animation-name: fadein;
			animation-duration: 1s;
			transition: transform 0.15s ease-in;
			/*border: 1px solid red;*/
			z-index: 9999;
		}

		.nav-links {
			text-align: center;


		}

		.nav-links li {
			opacity: 0;
			width: 100%;
			padding-top:;
			border-top: 1px solid grey;


		}

		.nav-links li:hover {
			background-color: #2e2e2e;
			transition: 0.2s ease-in;
		}

		.nav-links li a:hover {
			text-decoration: none;
		}

		.burger {
			display: block;
			cursor: pointer;
			z-index: 10000;
		}

		.nav-link-active {
			transform: translateX(0%);
		}

		.navbar-background {
			background-color: #292929;
	/*	animation-name: fadein;
	animation-duration: 0.3s;*/
}

.nav-active {
	background-color: #292929;
/*		animation-name: fadein;
animation-duration: 2s;*/
}


@keyframes fadein {

	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }

}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);


}

.toggle .line2 {
	opacity: 0;
	
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	
}


.final-footer {
	width: 800px;
	text-align: right;
	margin: 0 auto;
	position: relative;
	top: 16px;
}





}



/*Fix for mobile*/
@media screen and (max-width: 883px) {

	.logo {
		width: 100px;
		height: auto;
	}


	.middle-container {
		width: auto;
	}



	.steps {
		display: block;
		margin: 0;
		/*border: 1px solid white;*/
		padding-top: 100px;
		padding-bottom: 100px;


	}

	.step {


		/*flex: 1;*/
		width: 300px;
		/*height: 400px;*/
		height: auto;
		margin: 0 auto;
		text-align: center;

	}

	#step1, #step2 {
		border-right: 0px solid white;
		border-bottom: 1px solid white;
	}


	.about-page{
		width: 100%;
		height: auto;
		/*height: auto;*/
		position: relative;
		text-align: center;

	}

	footer {
		margin-top: 80px;
		display: inline-block;

	}

	footer img {
		width: 30px;
		bottom: 2px;

	}

	footer a {
		font-size: 10px;
		margin: 0px 15px;
	}


	.final-footer {
		display:inline-block;
		width: 340px;
		text-align: right;
		margin: 0 auto;
		position: relative;
		top: 16px;
	}

	footer p {
		font-size: 0.3rem;
	}



}

@media screen and (max-width: 563px) {

/*	.logo {
		width: 30px;
		}*/
		.header-branding h1 {
			font-size: 1rem;
		}

		.headphones {
			width: 80px;
			top: 55px;
			right: 170px;
		}

		.phone {
			width: 80px;
			left: 120px;
			bottom: 320px;
		/*top: 173px;
		right: 67px;*/

	}

}

@media screen and (max-width: 414px) {
	
	.headphones {
		width: 80px;
		top: 55px;
		right: 145px;
	}



}