<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
	href = "/static/levels.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- Web icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_package_v0/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_package_v0/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_package_v0/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon_package_v0/site.webmanifest">
	<link rel="mask-icon" href="/static/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/favicon_package_v0/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/favicon_package_v0/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<body id="generate_playlist">	
	
	<div id="container">
		<!-- header -->
		<header>
			<nav class="navbar">
				<img class="logo" src="/static/surprisifylogosmall.png">
				<ul class="nav-links">
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/">Home</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/#how-it-works">How it works</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/#about">About</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/privacy">Privacy</a></li>

				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>


			</nav>
		</header>
		<!-- middle -->
		<div id="main">
			<div class="middle">
				<div class="middle-container">
					<div class="middle-items">
						<h1 class="middle-text">Enter level:</h1>

						<div class="input-level">
							<div class = "input-label">
								<p>Level</p>
							</div>
							<form action="#" method="POST">
								<input id='levels-btn' type='number' min="1" max="999" name='level' placeholder="Enter a number" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
							
							</form>
						</div>
					</div>
				</div>
				<p id="options"><a href="#">Advanced</a></p>
				<div id='generate-btn'>Generate!</div>
				<p id="description">levels 1-2: comfortable <br><br>levels 3+: try something new!</p>
				
			</div>
		</div>
	</div>
	<footer>
		<ul>
			<li class="linkedin"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/stephen-chou-96a768165/"><img src="/static/li-logo.png"></a></li>
			<li class="github"><a target="_blank" rel="noopener noreferrer" href="https://github.com/StephenChou"><img src="/static/gh-logo.png"></a></li>
			<li><a href="https://surprisify-playlist-generator.herokuapp.com/#about">About</a></li>
			<li><a href="https://surprisify-playlist-generator.herokuapp.com/privacy">Privacy</a></li>
			<li><a href="https://www.instagram.com/stephen___chou/">@StephenChou</a></li>
		</ul>
		<div class="final-footer">
			<p>@Surprisify 2020</p>
		</div>
		
	</footer>
	<div class="modal">
		<div class="modal-content">
			<div class="close">+</div>
			<img src="/static/headphones.png" alt="" id="popup-logo">

			<form id="playlist_info">
                <label id="name" for="playlist-name">Name<br><input type="text" id="playlist-name" name="playlist_name" maxlength="100" placeholder="Enter a playlist name (Optional)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><br></label>
                
                <label id="desc" for = "playlist-description">Description<br><textarea id="playlist-description" name="playlist_desc" maxlength="230" placeholder="Enter a description (Optional)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea></label> 
                <input type="submit" id="pl_submit">
			</form>

		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/app.js"></script>
	<script src="/static/modal.js"></script>
</body>
</html>