<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
	href = "/static/levels.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body id="generate_playlist">	
	
	<div id="container">
		<!-- header -->
		<header>
			<nav class="navbar">
				<img class="logo" src="/static/surprisifylogosmall.png">
				<ul class="nav-links">
					<li><a href="http://localhost:5000/">Home</a></li>
					<li><a href="http://localhost:5000/#how-it-works">How it works</a></li>
					<li><a href="http://localhost:5000/#about">About</a></li>
					<li><a href="http://localhost:5000/privacy">Privacy</a></li>

				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>


			</nav>
		</header>
		<!-- middle -->
		<div id="main">
			<div class="middle">
				<div class="middle-container">
					<div class="middle-items">
						<h1 class="middle-text">Enter level:</h1>

						<div class="input-level">
							<div class = "input-label">
								<p>Level</p>
							</div>
							<form action="#" method="POST">
								<input id='levels-btn' type='number' min="1" max="999" name='level' placeholder="Enter a number" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
							
							</form>
						</div>
					</div>
				</div>
				<p id="options"><a href="#">Advanced</a></p>
				<p id="description"> The "level" designates how obscure the playlist will be. Generally, anywhere from 1 to 5 will contain artists relatively more mainstream and comfortable to the user, while levels higher and higher usually contain lesser known songs and are a great way of discovering new artsts. </p>
				
			</div>
		</div>
	</div>
	<footer>
		<ul>
			<li class="linkedin"><a href="https://www.linkedin.com/in/stephen-chou-96a768165/"><img src="/static/li-logo.png"></a></li>
			<li class="github"><a href="https://github.com/StephenChou"><img src="/static/gh-logo.png"></a></li>
			<li><a href="http://localhost:5000/#about">About</a></li>
			<li><a href="http://localhost:5000/privacy">Privacy</a></li>
			<li><a href="https://www.instagram.com/stephen___chou/">@StephenChou</a></li>
		</ul>
		<div class="final-footer">
			<p>@Surprisify 2020</p>
		</div>
		
	</footer>
	<div class="modal">
		<div class="modal-content">
			<div class="close">+</div>
			<img src="/static/headphones.png" alt="" id="popup-logo">

			<form id="playlist_info">
                <label id="name" for="playlist-name">Name<br><input type="text" id="playlist-name" name="playlist_name" maxlength="100" placeholder="Enter a playlist name (Optional)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><br></label>
                
                <label id="desc" for = "playlist-description">Description<br><textarea id="playlist-description" name="playlist_desc" maxlength="230" placeholder="Enter a description (Optional)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea></label> 
                <input type="submit" id="pl_submit">
			</form>

		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/app.js"></script>
	<script src="/static/modal.js"></script>
</body>
</html>