<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
   href = "/static/levels.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

	<body id="generate_playlist"	>	


	<!-- header -->
		<!-- <div class="header-branding"> -->
		<header>
		<nav class="navbar">
			<img class="logo" src="/static/surprisifylogosmall.png">
			<ul class="nav-links">
				<li><a href="http://localhost:5000/">Home</a></li>
				<li><a href="#how-it-works">How it works</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#about">Privacy</a></li>

			</ul>
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>


		</nav>
		</header>
	<!-- middle -->
	<div class="middle">
		<div class="middle-container">
			<div class="middle-items">
			<h1 class="middle-text">Enter level:</h1>
		

		<div class="input-level">
		<div class = "input-label">
			<p>Level</p>
		</div>
		<form action='#' method='POST'>
			<input type='number' min="1" max="999" name='level' placeholder="Enter a number">
		</form>
		</div>
		</div>
		</div>
			<p id="description"> The "level" designates how obscure the playlist will be. Generally, anywhere from 1 to 5 will contain artists relatively more mainstream and comfortable to the user, while levels higher and higher usually contain lesser known songs and are a great way of discovering new artsts. </p>
	
	</div>
	<footer>
		<ul>
			<li class="linkedin"><a href="https://www.linkedin.com/in/stephen-chou-96a768165/"><img src="/static/li-logo.png"></a></li>
			

			<li class="github"><a href="https://github.com/StephenChou"><img src="/static/gh-logo.png"></a></li>
			<li><a href="">About</a></li>
			<li><a href="">Privacy</a></li>
			<li><a href="https://www.instagram.com/stephen___chou/">@StephenChou</a></li>
		</ul>
		<div class="final-footer">
		<p>@Surprisify 2020</p>
		</div>
		
	</footer>
	<script src="/static/app.js"></script>
</body>
</html>