<!DOCTYPE html>
<html>
<head>
	<title>Privacy</title>
	<link rel = "stylesheet" href="/static/privacy.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
	<div id="container">	
		<header>
			<nav class="navbar">
				<img class="logo" src="/static/surprisifylogosmall.png">
				<ul class="nav-links">
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/">Home</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/#how-it-works">How it works</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/#about">About</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/privacy">Privacy</a></li>

				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<div id="main">	
			<div id="middle">
				<div id="middle_text">
					<h1>Privacy</h1>
					<p>Info about how the app works can be found in the <a href="https://surprisify-playlist-generator.herokuapp.com/#about">about</a> section on the home page. Surprisify does not currently store any user information, though in the future the use of databases to store information like common songs/genres generated may be implemented in the future. Any changes in the future will be reflected in this section.</p>
				</div>
			</div>
		</div>

	</div>

	<footer>
		<ul>
			<li class="linkedin"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/stephen-chou-96a768165/"><img src="/static/li-logo.png"></a></li>
			<li class="github"><a target="_blank" rel="noopener noreferrer" href="https://github.com/StephenChou"><img src="/static/gh-logo.png"></a></li>
			<li><a href="https://surprisify-playlist-generator.herokuapp.com/#about">About</a></li>
			<li><a href="https://surprisify-playlist-generator.herokuapp.com/privacy">Privacy</a></li>
			<li><a href="https://www.instagram.com/stephen___chou/">@StephenChou</a></li>
		</ul>
		<div class="final-footer">
			<p>@Surprisify 2020</p>
		</div>
		
	</footer>


	<script src="/static/app.js"></script>
</body>
</html>

