<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<link rel = "stylesheet" href="/static/success.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
	<div id="container">	
		<header>
			<nav class="navbar">
				<img class="logo" src="/static/surprisifylogosmall.png">
				<ul class="nav-links">
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/">Home</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/#how-it-works">How it works</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/#about">About</a></li>
					<li><a href="https://surprisify-playlist-generator.herokuapp.com/privacy">Privacy</a></li>

				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<div id="main">	
			<div id="middle">
				<div id="middle_text">
					<h1>Success! Check your Spotify account <br>for a new playlist!</h1>
					<div class="buttons">
						<div id="button1">
							<p id="button-text"><a href="https://surprisify-playlist-generator.herokuapp.com/generate_playlist">New Playlist</a></p>
						</div>
						<div id="button2">
							<p id="button-text"><a href="https://surprisify-playlist-generator.herokuapp.com/generate_playlist">Return Home</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer>
		<ul>
			<li class="linkedin"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/stephen-chou-96a768165/"><img src="/static/li-logo.png"></a></li>
			<li class="github"><a target="_blank" rel="noopener noreferrer" href="https://github.com/StephenChou"><img src="/static/gh-logo.png"></a></li>
			<li><a href="https://surprisify-playlist-generator.herokuapp.com/#about">About</a></li>
			<li><a href="https://surprisify-playlist-generator.herokuapp.com/privacy">Privacy</a></li>
			<li><a href="https://www.instagram.com/stephen___chou/">@StephenChou</a></li>
		</ul>
		<div class="final-footer">
			<p>@Surprisify 2020</p>
		</div>
		
	</footer>


	<script src="/static/app.js"></script>
</body>
</html>

